#logout{
    float:right;
    margin:5px;
    width:15%;
}

body{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
    color:white;
}

#output{
    border-radius:15px;
    background-color:rgba(255, 255, 255, 0.8);
    padding:10px;
    font-size:20px;
    color:black;
}